workdir/
data/
models/
logs/
log*/
*__pycache__
model_output/
outputs/

## weights anf lib
CLIP/
.cache/
.insightface

train_data/

real_reg/

huggingface/*
bench_samples_standard/*
bench_samples/*
project/

xiugou.tar

xiugo_submit.tar.gz

clip_img.pt
img.pt

project.zip

nnet.pt