workdir/
data/
models/
logs/*
log*/
*__pycache__
model_output/*
outputs/
model_output_test/

output_test/
real_reg/*

train_data/*


## weights anf lib
CLIP/
!CLIP/.git/

.cache/
.insightface

train_data/

real_reg/

huggingface/*
bench_samples_standard/*
bench_samples/*
project/

xiugou.tar
xiugo_submit.tar

xiugo_submit.tar.gz

clip_img.pt
img.pt

project.zip

train_data_crop/*

nnet.pt


other_models/stablediffusion/*
